* {
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

/* .main-container{
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: 0 auto;
    padding: 40px;
    background-color: #F5F7FA;
}

.main-content{
    background:#FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}


.about-my-profession{
    font-size: 14px;
    font-weight: 700;
}

ul{
    list-style: circle;
   
}
.about-my-section{
   
}

.my-projects-section{
   
}

.my-work-experience-section{
    
}

.my-education-section{
    
}

.sidebar{
    background:#1E2939;
} */