* {
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}
/* -----------------sidebar---------------  */

.main-container{
    display: flex;
    flex-direction: row;
    width: 1200px;
    background: #FFFFFF;
    margin: 40px auto;
}

.sidebar{
    width: 370px;
    padding-top: 40px;
    background-color: #1E2939;
}

.my-photo{
    display: block;
    margin-bottom: 50px;
}

.sidebar-block{
    margin-left: 40px;
    margin-bottom: 50px;
}

.title-sidebar-block{
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    color: #FFFFFF;
}
