* {
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 1200px;
    background: #FFFFFF;
    margin: 40px auto;
}

.sidebar{
    width: 370px;
    padding-top: 40px;
    background-color: #1E2939;
}